{% extends "base.html.twig" %}

{% block title %}
  Edição Empresa
{% endblock %}

{% block body %}
  <h1>Edição Empresa - <small>{{ empresa.titulo }}</small></h1>
  <hr>
  {% include "empresa/_form.html.twig" %}
{% endblock %}